<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--稍微支持一下手机页面-->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <title>技术宅的随意生活</title>
    <link type="text/css" rel="stylesheet" href="css/page.css">
    <script type="text/javascript" src="js/jquery_3_5_1.js"></script>
    <script type="text/javascript" src="js/command.js"></script>
</head>
<body style="background-color: black;">
<!--结果展示区-->
<div id="result">
    <div>
<!--        <div class="info">kevi@(<span th:text="*{#dates.format(time,'yyyy/MM/dd HH:mm:ss')}"/>):~#</div>-->
        <div class="info">hi, this is kevi`s page</div>
    </div>
    <div>
<!--        <div class="info">kevi@(<span th:text="*{#dates.format(time,'yyyy/MM/dd HH:mm:ss')}"/>):~#</div>-->
        <div class="info">你好，欢迎来到kevi的主页</div>
    </div>
    <div>
<!--        <div class="info">kevi@(<span th:text="*{#dates.format(time,'yyyy/MM/dd HH:mm:ss')}"/>):~#</div>-->
        <div class="info">you can use 'help' to get the code list</div>
    </div>
    <div>
<!--        <div class="info">kevi@(<span th:text="*{#dates.format(time,'yyyy/MM/dd HH:mm:ss')}"/>):~#</div>-->
        <div class="info">你可以使用'help'来获取可使用指令列表</div>
    </div>
</div>
<!--指令输入区-->
<div>
    <a id="host" class="resA" >
        kevi@(<span id="time" th:text="*{#dates.format(time,'yyyy/MM/dd HH:mm:ss')}"/>):~#
    </a>
    <input id="command" type="text" class="cmdClass" value=""/>
    <input id="copyIn" type="hidden" />
</div>

<div class="foot">
    <div>©2020 Kevi</div>
    <div><a href="http://beian.miit.gov.cn/" target="_blank">渝ICP备16011676号-1</a></div>
    <div><a href="https://github.com/Kevi0128/WhoIsKevi" target="_blank">source code open in github</a></div>
</div>
</body>
</html>